GoonMod/
GoonModWeaponCustomizer/units/payday2/weapons/wpn_frag_grenade/wpn_frag_grenade.material_config
GoonModWeaponCustomizer/units/payday2/weapons/wpn_frag_grenade/wpn_frag_grenade_enemy.material_config
GoonModWeaponCustomizer/units/payday2/weapons/wpn_frag_grenade/wpn_frag_grenade_husk.material_config
GoonModWeaponCustomizer/units/payday2/weapons/wpn_frag_grenade/wpn_frag_grenade_sprint.material_config
GoonModWeaponCustomizer/units/pd2_dlc_bbq/weapons/wpn_launcher_incendiary_grenade/wpn_launcher_incendiary_grenade.material_config
GoonModWeaponCustomizer/units/pd2_dlc_cro/weapons/wpn_molotov_grenade/wpn_molotov_grenade.material_config
GoonModWeaponCustomizer/units/pd2_dlc_cro/weapons/wpn_molotov_grenade/wpn_molotov_grenade_enemy.material_config
GoonModWeaponCustomizer/units/pd2_dlc_cro/weapons/wpn_molotov_grenade/wpn_molotov_grenade_husk.material_config
GoonModWeaponCustomizer/units/pd2_dlc_cro/weapons/wpn_molotov_grenade/wpn_molotov_grenade_sprint.material_config
GoonModWeaponCustomizer/units/pd2_dlc_gage_assault/weapons/wpn_launcher_frag_grenade/wpn_launcher_frag_grenade.material_config
GoonModWeaponCustomizer/units/pd2_dlc_west/weapons/wpn_gre_dynamite/wpn_gre_dynamite.material_config
GoonModWeaponCustomizer/units/pd2_dlc_west/weapons/wpn_gre_dynamite/wpn_gre_dynamite_husk.material_config
